body {
    background-color: #edd263;
}
.search-style {
    border-radius: 5px 0 0 5px;
}
.btn-style {
    background: #3B2D64;
    color: white;
    border-radius: 0 5px 5px 0;
}

.display-img {
    
    margin-bottom: 15px;
}

.food {
    text-align: center;
    padding: 15px;
}

#detail {
    text-decoration: none;
    color: #000;
}

h3 {
    text-align: center;
}